.header__square-pic {
  position: absolute;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: -1;
}

.rotation {
    animation: square 20s infinite;
  }
  @keyframes square {
    to {
      transform: rotate(360deg);
    }
  }