.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../../../../first-project/images/kaufman-triangle.svg);
  right: -210px;
  z-index: -1;
  top: 0px;
  background-size: cover;
 }

